/* Header.module.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: white;
    opacity: 0.85;
    color: #333;
    border-bottom: 3px solid #D33622;
}

.logoContainer {
    cursor: pointer;
}

.logo {
    width: 250px;
}

.navList {
    list-style-type: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

.navList li {
    padding: 0 10px;
}

.navList li a {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    position: relative;
}

.enrollButton {
    background-color: #007bff;
    font-family: 'Arial', sans-serif;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.hamburgerMenu {
    display: none; 
    cursor: pointer;
}

.bar {
    width: 35px; 
    height: 5px; 
    background-color: #333;
    margin: 6px 0; 
    transition: 0.4s; 
}

.change.bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.change.bar:nth-child(2) {
    opacity: 0;
}

.change.bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* Mobile view */
@media (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: flex-start; 
    }
    .logo {
        width: 219px;
    }

    .navList {
        display: none; 
        flex-direction: column; 
        width: 100%; 
    }

    .navList li {
        text-align: left; 
    }

    .enrollButton {
        width: 100%; 
        margin-top: 20px; 
    }

    .hamburgerMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px; 
    }

    .mobileMenu {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        width: 100%; 
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1500; 
    }

    .mobileNavList {
        list-style-type: none;
        padding: 0;
        margin: 0; 
        width: 100%; 
    }

    .mobileNavList li {
        padding: 10px 20px; 
        width: 100%; 
        border-bottom: 1px solid #ddd; 
    }

    .mobileNavList li:last-child {
        border-bottom: none; 
    }
}
