/* Header.module.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: white;
    opacity: 0.85;
    color: #333;
    border-bottom: 3px solid #D33622;
}

.logoContainer {
    cursor: pointer;
}

.logo {
    width: 250px;
}

.navList {
    list-style-type: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

.navList li {
    padding: 0 10px;
}

.navList li a {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    position: relative;
}

.enrollButton {
    background-color: #007bff;
    font-family: 'Arial', sans-serif;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.hamburgerMenu {
    display: none; 
    cursor: pointer;
}

.bar {
    width: 35px; /* Width of hamburger menu bar */
    height: 5px; /* Height of hamburger menu bar */
    background-color: #333;
    margin: 6px 0; /* Spacing between hamburger menu bars */
    transition: 0.4s; /* Smooth transition for animation */
}

/* Transform bars into 'X' when menu is open */
.change.bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.change.bar:nth-child(2) {
    opacity: 0;
}

.change.bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* Mobile view */
@media (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: flex-start; 
    }
    .logo {
        width: 219px;
    }

    .navList {
        display: none; /* Hide the desktop nav list */
        flex-direction: column; /* Stack items vertically */
        width: 100%; /* Full width for mobile nav items */
    }

    .navList li {
        text-align: left; /* Align text to the left */
    }

    .enrollButton {
        width: 100%; /* Full width button for mobile */
        margin-top: 20px; /* Space above the button */
    }

    .hamburgerMenu {
        display: block; /* Show hamburger menu */
        position: absolute;
        top: 20px; /* Position from the top of the header */
        right: 20px; /* Position from the right of the header */
    }

    .mobileMenu {
        display: flex; /* Show mobile menu */
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the left */
        width: 100%; /* Full width for mobile menu */
        background-color: #f8f9fa;
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1500; /* Ensure it's on top of other elements */
    }

    .mobileNavList {
        list-style-type: none;
        padding: 0;
        margin: 0; /* Reset default margin */
        width: 100%; /* Full width for mobile nav list */
    }

    .mobileNavList li {
        padding: 10px 20px; /* Padding for touch targets */
        width: 100%; /* Full width list items */
        border-bottom: 1px solid #ddd; /* Separator between items */
    }

    .mobileNavList li:last-child {
        border-bottom: none; /* No border for the last item */
    }
}
